{% extends "main.html" %}

{% block content %}
<h2> Вы вышли из системы </h2>
{% csrf_token %}
<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
<h2>ЧТОБЫ ВЕРНУТЬСЯ&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-tongue-out.gif" alt="tongue-out" width="30" height="30" /></h2>
<h2>НА ОСНОВНУЮ СТРАНИЦУ:</h2>
<h2><a title="&quot;Ozersk News Portal&quot;" href="http://127.0.0.1:8000/news/">http://127.0.0.1:8000/</a></h2>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp;&nbsp;</p>

{% endblock %}